.info-card{
    padding:  5px;
}
.info-primary{
    background-color: #10214e;
}
.info-dark{
    background-color:#3A4256;
}
.info-container{
    height: 100px;
    padding:30px;
}
.info-icon{
    font-size: 3em;
}